.hero .bg {
  position: fixed;
  width: auto;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
  background-color: #000;
}
.hero .bg video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}
.hero .logo {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .logo h1 {
  width: 64%;
}
.hero .lead {
  width: 100%;
  background-color: white;
  padding: 2em 0;
  text-align: center;
}
.hero .lead p {
  font-size: 4vw;
  font-weight: 500;
  line-height: 2;
}
.hero .news {
  width: 100%;
}

@media (min-width: 968px) {
  .hero {
    min-width: 40.6vw;
    width: 58.3vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .hero .logo {
    margin-top: 14.5vw;
  }
  .hero .logo h1 {
    width: 31.7vw;
  }
  .hero .lead {
    background-color: transparent;
  }
  .hero .lead br.sp {
    display: none;
  }
  .hero .lead p {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-color: white;
    display: inline;
    padding: 0.3em;
    padding-left: 1.3em;
    padding-right: 0.8em;
    font-size: 1vw;
  }
  .hero .news {
    width: auto;
  }
}
