.pickup {
  background-color: white;

  .item {
    .banner {
      height: auto;

      .key-img {
        height: 64vw;
        overflow: hidden;

        img {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }

      .right-pane {
        padding: 3vw 5vw 2vw;
      }

      .header {
        display: flex;
        align-items: center;

        .cat {
          width: 40%;
        }


      }

      .title {
        font-size: 6.1vw;
        font-weight: 480;
        line-height: 1.4;
        margin-top: .2em;
        color: black;
      }

      p.desc {
        font-size: 3.9vw;
        font-weight: 500;
        line-height: 1.6;
        margin-top: .4em;
        margin-bottom: .2em;
        text-align: justify;
        color: black;
      }
    }
  }
}


@media (min-width:968px) {
  .pickup {
    background-color: transparent;
    // padding-top: 20px;
    // padding-bottom: 20px;
    overflow: hidden;

    .item {
      .banner {
        display: flex;
        height: 100%;

        .key-img {
          width: 50%;
        }

        .right-pane {
          width: 50%;
          padding: 0;
          padding-top: clamp(1px, .52vw, 10px);
          padding-bottom: clamp(1px, .52vw, 10px);
          padding-right: clamp(1px, .57vw, 11px);
          padding-left: clamp(1px, .62vw, 12px);
          position: relative;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .header {
          width: 100%;
          padding-right: clamp(1px, .26vw, 5px);
          display: flex;
          justify-content: flex-end;

          .cat {
            width: 40%;
          }
        }

        .title {
          position: absolute;
          top: clamp(1px, 3.64vw, 47px);
          right: 0;
          line-height: 1.3;
          font-size: clamp(1px, 1.66vw, 32px);
          padding-right: clamp(1px, .5vw, 10px);
          padding-left: .5em;
          background-color: white;
          text-align: right;
          white-space: nowrap;
        }

        p.desc {
          font-size: clamp(1px, .78vw, 15px);
          line-height: 1.7;
          margin-bottom: 0;
        }
      }
    }
  }
}