body
{
	background-color: #fff;
}


#fp-nav
{
	display: none;
}

#fullpage
{
	.section
	{
		position: relative;
		overflow: hidden;
		.transform-bg
		{
			position: absolute;
			width: 100vw;
			height: 300vh;
			top: 0;
			left: 0%;
			transform: skew(-20deg);
			transform-origin: center;

			background-color: #EDFAFF;
			z-index: -1;
		}

		.transform-bg-left
		{
			transform: skew(20deg);
			transform-origin: top left;
			// left: auto;
			// right: 30%;
		}



		.transform-bg-yellow
		{
			background-color: #FFFDE5;
		}

		.transform-bg-yellow-deep
		{
			background-color: #FFF143;
			opacity: .5;
		}



		.anime-wrapper
			{
				margin-left: -6vw;
				padding-left: 6vw;
			}

		.article-inner, .cover-inner
		{
			width: 100%;
			height: 100%;


			.contents
			{
				padding: 0 6vw;
			}

		}


		.article-02-sub
		{
			// display: none;
			height: auto;
			// margin-left: 20%;
			.bg01
				{
					position: absolute;
					top: 0;
					left: 0;
					width: 100vw;
					height: 100vh;
					background-image: url(../images/contents-point-big.jpg);
					background-repeat: no-repeat;
					background-position: 34% center;
					background-size: cover;
					z-index: -1;
				}

				p
				{
					margin-top: 90%;
					// margin-left: 10%;
				}

				p>span
				{


					font-size: 4.8vw;
					font-weight: bold;
					// width: 29.4vw;
					box-decoration-break: clone;
					-webkit-box-decoration-break: clone;
					background-color: white;
					padding: .3em;
					// padding: 10px;
					line-height: 2;
					padding-left: .4em;
					padding-right: .8em;
					white-space: nowrap;


				}
		}


		.cover-inner
		{
			padding-top: 60vh;

			background-image: url(../images/main-sp.jpg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 0 12vw;

			.contents
			{

				display: flex;
				flex-direction: column;
				align-items: flex-end;
				// margin-top: -21.4vw;
				margin-top: auto;
				margin-bottom: 0;

			}

			.category
			{
				width: 34vw;
				margin-bottom: 4vw;
			}

			.vol
			{
				width: 25.8vw;
				margin-bottom: 2vw;
			}

			.title
			{
				font-size: 5.4vw;
				text-align: right;
				font-weight: bold;
			}

			.lead
			{
				font-size: 7.7vw;
				text-align: right;
				font-weight: bold;
			}
		}

		.article-inner
		{
			padding-top: .8vw;
			padding-bottom: 10vw;
			margin-top: 12vw;

			.title
			{
				font-size: 6.6vw;
				margin-bottom: 1em;
				margin-top: 1em;
				font-weight: bold;
			}

			.title-rect
			{
				background-color: var(--color-blue);
				display: inline-block;
				padding: 0 .3em;
			}

			.block-blue
			{
				// background-color: var(--color-darkblue);
			}

			.block-blue::before
			{
				background-color: var(--color-darkblue)!important;
			}

			.title-blue
			{
				color: var(--color-darkblue)!important;
				border-bottom-color: var(--color-darkblue)!important;
			}

			.title-rect-naname
			{
				display: inline-block;
				padding: 0 1em;
				margin-left: -2000px;
				padding-left: 2000px;
				position: relative;
			}

			.title-rect-naname::before
			{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-cat-yellow);
				transform: skew(-30deg);
				z-index: -1;
			}

			.desc
			{
				font-size: 4.8vw;
				line-height: 1.66;
				margin-bottom: 1.6em;
			}

			.lead
			{
				font-size: 5.6vw;
				margin-bottom: 1em;
				font-weight: bold;
			}

			.caption
			{
				font-weight: bold;
				padding-top: .8em;
				padding-bottom: .8em;
			}

			.img-single
			{
				margin-bottom: 1vw;
			}

			.img-set
			{
				margin-top: 6vw;
				margin-bottom: 6vw;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto auto;
				grid-row-gap: 6vw;

				.img01
				{
					grid-row: 1;
					grid-column: 1 / -1;
				}

				.img02
				{
					width: 120%;
				}

				.img03
				{
					width: 120%;
					// grid-row: 2;
					// grid-column: -1;
					// margin-left: -10vw;
					margin-top: 40%;
					margin-left: -20%;
				}

			}
		}

		.info
		{
			.title
			{
				color: var(--color-cat-yellow);
				border-bottom: 1px solid var(--color-cat-yellow);
				margin-bottom: 1vw;
			}

			.lead
			{
				font-size: 5vw;
				font-weight: bold;
			}



			.service-list, .link
			{
				font-size: 3.6vw;
			}

			.service-list
			{
				margin-bottom: 1em;
			}

			.border-box
			{
				margin-top: 1em;
				border: 1px solid #333;
				padding: .8em;
				font-weight: bold;
				font-size: 3.6vw;
				margin-bottom: 6vw;
			}
		}

		.article-06, .article-07
		{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(auto , 7);

			.img00
			{
				grid-row: 2;
			}

			.img01
			{
				width: 60%;
				padding-left: 6vw;
			}

			.img02
			{
				margin-top: -8vw;
				width: 60%;
				padding-right: 6vw;
				justify-self: end;
			}

			.img03
			{
				// margin-top: 3vw;
				padding:4vw 6vw;
			}
		}

		.button-more
		{
			display: block;
			margin:0 auto;
			width: 60%;
			color: white;
			padding: 2vw 6vw;
			text-align: center;
			position: relative;
		}

		.button-more::before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			transform: skew(-30deg);
			z-index: -1;
		}
	}
}


@media (min-width:968px)
{

	#fp-nav
	{
		display: block;
	}

	#fullpage
	{
		.section
		{
			position: relative;

			.transform-bg
			{
				left: 30%;
			}

			.transform-bg-opposite
			{
				left: -70vw ;
				// background-color: red;
				// transform: skew(20deg);
				// transform-origin: top left;
				// left: auto;
				// right: 30%;
			}

			.cover-inner, .article-inner
			{
				padding-top: 0;
				margin-top: 0;
			}
			.cover-inner
			{
				background-image: url(../images/main-pc.jpg);
				background-size: cover;
				background-position: center center;


				.contents
				{
					height: 60%;
					justify-content: flex-end;
					// background-color: red;

					.title-set
					{
						display: flex;
						align-items: center;
					}

					.vol
					{
						font-size: 2vw;
						width: 10.5vw;
						margin: 0;
						margin-right: 1.4vw;
					}

					.category
					{
						width: 20.5vw;
						margin-bottom: 1vw;
					}

					.title
					{
						font-size: 3.1vw;
					}

					.lead
					{
						font-size: 4.4vw;

					}
				}
			}

			.anime-wrapper
			{
				margin-left: -7.6vw;
				padding-left: 7.6vw;
			}

			.article-inner
			{
				padding: 0;
				padding-right: 7.6vw;
				padding-left: 7.6vw;
				padding-top: calc(100vh - 330px) / 2;
				padding-bottom: calc(100vh - 330px) / 2;

				height: auto!important;

				// max-width: 1920px;

				.grid-2col
				{
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto;
				}

				.title
				{
					font-size: clamp(1px, 2.6vw, 50px);
				}

				.title-rect-naname
				{
					margin-bottom: .5em;
					margin-top: .6em;
				}
				.desc
				{
					font-size: clamp(1px, 1.1vw, 22px);
				}

				.lead
				{
					font-size: clamp(1px, 1.8vw, 35px);
				}

				.contents
				{
					padding: 0;
				}


				.info
				{
						margin-top: 16vw;
						margin-bottom: 2vw;

					.title
					{
						font-size: clamp(1px, 1.8vw, 35px);
					}

					.lead
					{
						font-size: clamp(1px, .9vw, 17px);
						font-weight: bold;
					}

					.service-list, .link, .border-box
					{
						font-size: clamp(1px, .8vw, 17px);
					}
				}
			}



			.article-01
			{
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;

				.key-visual
				{
					grid-column: -1;
					grid-row: 1;
					// padding-right: 7.2vw;
					padding-left: 6vw;
					width: 49.4vw;
				}

				.contents
				{
					grid-column: 1;
					grid-row: 1;
					width: 32.5vw;
				}
			}

			.article-02
			{
				// display: grid;
				// grid-template-columns: 1fr 1fr;
				// grid-template-rows: auto;
				position: relative;

				.contents-text
				{
					// grid-column: -1;
					width: 35.9vw;
					margin-left: auto;
					// grid-row: 1;
				}


				.img-set
				{
					position: absolute;
					left: 0;
					top: -8vw;
					margin:0;
					padding: 0;
					// grid-column: 1;
					// grid-row: 1;

					// display: grid;
					// grid-template-columns: 1fr 1fr;
					// grid-template-rows: auto auto;
					// grid-row-gap: 1vw;
					// grid-column-gap: 1vw;

					// display: none;

					// height: 50%;
					// margin-top: auto;

					// display: none;

					.img01
					{
						position: absolute;
						top: 0;
						left: 7.6vw;
						// grid-row: 1;
						// grid-column: 1;
						width: 28.6vw;
						// align-self: end;
						z-index: 1;
						margin-right: -7.6vw;
					}

					.img02
					{position: absolute;
						top: 21.5vw;
						left: 7.6vw;
						// grid-row: 2;
						// grid-column: 1;
						width: 20.8vw;
						// align-self: end;
					}

					.img03
					{
						position: absolute;
						top: 9vw;
						left: 30vw;
						// align-self: end;
						// grid-row: 1 / -1;
						// grid-column: 2;
						width: 24.1vw;
						// margin-left: -100px;
						// grid-row: 2;
						// grid-column: -1;
						// margin-left: -10vw;
						margin: 0;
					}
				}
			}

			.article-02-sub
			{
				display: grid;
				grid-template-columns: 1fr 1fr;
				padding-left: 0;
				padding-top: 5.36vw;
				padding-bottom: 5.36vw;
				background-color: transparent;

				.bg01
				{
					position: absolute;
					top: calc((100vh - 45.5vw) / 2);
					left: 0;
					width: 73.8vw;
					height: 45.5vw;
					background-image: url(../images/contents-point-big.jpg);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					z-index: -1;
				}


				img
				{
					grid-column: 1;
					width: 73.8vw;
					margin-right: -20px;
				}

				p
				{
					grid-column: -1;
					margin-top: 50%;
				}

				p > span
				{
					font-size: clamp(1px, 1.8vw, 35px);
					// font-weight: bold;
					// // width: 29.4vw;
					// box-decoration-break: clone;
					// -webkit-box-decoration-break: clone;
					// background-color: white;
					// padding: .3em;
					// // padding: 10px;
					// line-height: 2;
					// padding-left: .4em;
					// padding-right: .8em;
					// white-space: nowrap;


				}
			}



			.article-03
			{
				.key-visual
				{
					grid-column: -1;
					grid-row: 1;
					// padding-right: 7.2vw;
					// padding-left: 6vw;
					width: 46.6vw;
				}

				.text
				{
					grid-column: 1;
					grid-row: 1;
					width: 35.9vw;
				}
			}

			.article-04
			{
				.grid-2col
				{
					grid-column-gap: 5.6vw;
				}
				.key-visual
				{
					width: 46.6vw;
					margin-top: -3vw;
				}
				.text
				{
					width: 32.9vw;
					margin-bottom: -3vw;
				}	
			}

			.article-05
			{
				padding-top: 8vw;
				padding-right: 0;
				.key-visual
				{
					grid-column: -1;
					grid-row: 1;
					margin-top: -5.2vw;
					// padding-right: 7.2vw;
					// padding-left: 6vw;
					width: 55vw;
				}

				.text
				{
					grid-column: 1;
					grid-row: 1;
					width: 32.9vw;
				}

				.img-set
				{
					.img01
					{
						grid-row: 1;
						grid-column: 1;
						// width: 120%;
					}

					.img02
					{
						grid-row: 1;
						grid-column: 2;
						// width: 120%;
						// grid-row: 2;
						// grid-column: -1;
						// margin-left: -10vw;
						// margin-top: 40%;
						// margin-left: -20%;
					}

					.img03
					{
						grid-row: 2;
						grid-column: 1 / -1;
						// width: 100%;
						// margin:0;
					}
				}
				.grid
				{
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto auto;
					margin-top: -6vw;
					margin-bottom: 3vw;

					.title-set
					{
						grid-column: 1;
						grid-row: 1;
						width: 34.2vw;
						margin-top: 9vw;
						align-self: end;
					}

					.img-set
					{
						grid-column: -1;
						grid-row: 1 / -1;
						margin:0;
						grid-row-gap: 0;

						.img00
						{
							display: block;
						}

						.img01
						{
							width: 110%;
							// margin-top: -9vw;
							margin-left: 0vw;
							// padding-top: 9vw;
						}

						.img02
						{
							margin-top: 9vw;
							margin-left: -3vw;
							width: 80%;
						}

						.img03
						{
							grid-column: 1;
							width: 74%;
							margin-left: 9vw;
							margin-top: 0vw;
						}
					}

					.text-set
					{
						grid-column: 1;
						grid-row: 2;
						width: 34.2vw;
					}
				}

				.more-container
				{
					// background-color: red;
					margin-right: 7.6vw;
					display: flex;
					justify-content: center;
					padding-bottom: 40px;
				}

				.button-more
				{
					// margin-left: 0;
					width: clamp(1px, 37vw, 470px);
					height: auto;
					padding: .1em;
					padding-left: 1em;
					padding-right: 1em;
					font-size: clamp(1px, 18.3vw,36px);
				}
			}

			.article-06, .article-07
			{
				// padding-top: 2vw;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: repeat(auto, 3);
				grid-column-gap: 3vw;

				.intro
				{
					grid-column: 1;
					grid-row:1;
				}

				.info
				{
					margin: 0;

					.title
					{
						margin-top: 0;
					}
				}

				.title-set
				{
					grid-column: 1;
					grid-row: 2;
					// align-self: start;
				}

				.text-set
				{
					grid-column: 1;
					grid-row: 3;
					width: 36vw;
				}



				.img00
				{
					padding: 0;
					margin: 0;
					width: 36.5vw;
					grid-column: 2 / -1;
					grid-row: 1;
					margin-top: 3vw;
					justify-self: end;
				}

				.img01
				{
					padding: 0;
					margin: 0;
					width: 20vw;
					grid-column: 2;
					grid-row: 2;
					margin-top: -18vw;

				}

				.img02
				{
					padding: 0;
					margin: 0;
					width: 20vw;
					grid-column: 3;
					grid-row: 3;
					margin-top: -13vw;
					// justify-self: end;

				}

				.img03
				{
					padding: 0;
					margin: 0;
					width: 24vw;
					grid-column: 2;
					grid-row: 3;
					margin-top: -9vw;
				}

			}

			.article-07
			{
				.img01
				{
					margin-top: -14vw;
				}
				.img02
				{
					margin-top: -11vw;
				}
				.img03
				{
					margin-top: -5vw;
				}
			}

			.article-person
			{
				padding-top: calc((100vh - 31vw) / 2);
				padding-left: 14vw;
				padding-right: 14vw;

				.contents
				{
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto auto auto;

					.title
					{
						grid-column: 2;
						grid-row: 1;
						width: 36vw;
						justify-self: end;
						text-align: right;
						margin-top: -3.5vw;
					}
					.caption
					{
						grid-column: 2;
						grid-row: 2;
						padding: 0;
						font-size: clamp(1px , 1.8vw, 35px);
					}
					.desc
					{
						grid-column: 2;
						grid-row: 3;
						width: 36vw;
						justify-self: end;
						// align-self: start;
					}

						figure
						{
							grid-column: 1;
							grid-row: 1 / -1;
							width: 31vw;
						}
				}
				.video
				{
					margin-top: calc((100vh - 31vw) / 2);
					margin-bottom: calc((100vh - 31vw) / 2);
				}

			}
		}

		.section-close
		{
			// position: relative;
			.fp-tableCell
			{
				vertical-align: bottom;
			}


			// vertical-align: bottom;

			footer.footer
			{
				// position: absolute;
				// bottom: 0;
				// margin-top: auto;
				// margin-bottom: 0;
				width: 100%;
				// margin-left: -7.6vw;
			}
		}

		.article-close
		{
			// display: flex;
			// height: 100%;
			// flex-direction: column;
			// justify-content: space-between;
			// align-items: center;
			// position: absolute;
			// top: 0%;
			// padding-bottom:calc(100vh - 330px) / 2;
			// padding-bottom: 100px;
			margin-bottom: calc(10vh);

			.contents
			{
				// padding-top: 10vw!important;
				// padding-bottom: 10vw!important;

				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto auto;
				grid-column-gap: 3.4vw;
				// margin-bottom: auto;



			}

			.lead
			{
				grid-column: 1;
			}

			.desc
			{
				padding-bottom: 100px;
			}

			figure
			{
				grid-column: 2;
				grid-row: 1 / -1;
				width: 50vw;
			}
		}
	}
}