@charset "UTF-8";
:root {
  --color-blue:#86CCFF;
  --color-yellow:#FFF257;
  --color-red:#EF4143;
  --color-gray:#707070;
  --color-second-bg:#F4EFE9;
  --color-green:#4EBA56;
  --color-lightgreen:#9BE2B6;
  --color-cat-yellow:#FFD10F;
  --color-lightblue:#E3F3FF;
  --color-darkblue:#3FA3D5;
  --color-lightgreen:#9BE2B6;
}

body {
  background-color: #333;
}

@font-face {
  font-family: "social";
  src: url("/common/css/assets/social.eot");
  src: url("common/css/assets/social.eot?#iefix") format("embedded-opentype"), url("/common/css/assets/social.woff") format("woff");
}
.anim-delay-1s {
  animation-delay: 1.3s !important; /* default: 0 */
}

[transition-style="in:wipe:right"] {
  --transition__duration: 1.6s;
  --transition__easing: cubic-bezier(0.65, 0, 0.35, 1);
}

a {
  text-decoration: none;
}

body, h1, h2, h3, h4, h5, div, p, figure {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  color: black;
}

a:hover {
  color: #FEF038;
}

.selected a {
  color: #FEF038;
}

.title-wrapper {
  padding-left: 6vw;
  padding-right: 6vw;
}
.title-wrapper .title {
  margin-top: 18vw;
  width: 40vw;
  text-align: center;
  position: relative;
  padding: 0 3.1vw;
  font-weight: 500;
  font-size: 7.4vw;
  margin-bottom: 3vw;
  z-index: 1;
}
.title-wrapper .title::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background-color: white;
  transform: skew(-30deg);
  z-index: -1;
  box-shadow: 0.7vw 0.7vw 0 black;
}

.vol {
  color: white;
  font-size: 5vw;
  font-weight: 500;
  position: relative;
  padding: 0 3.1vw;
  text-align: center;
  z-index: 1;
  margin-left: 1em;
}

.vol::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-red);
  transform: skew(-30deg);
  z-index: -1;
}

.vol-green::before {
  background-color: var(--color-green);
}

.vol-yellow::before {
  background-color: var(--color-cat-yellow);
}

@media (min-width: 968px) {
  .title-wrapper .title {
    margin-top: clamp(70px, 4.4vw, 86px);
    width: clamp(1px, 16vw, 309px);
    padding: 0;
    font-size: clamp(32px, 2.4vw, 47px);
    margin-bottom: clamp(1px, 2vw, 40px);
  }
  .title-wrapper .title:before {
    box-shadow: clamp(1px, 0.36vw, 7px) clamp(1px, 0.36vw, 7px) 0 black;
  }
  .vol {
    width: auto;
    padding: 0 0.95em;
    font-size: clamp(1px, 0.98vw, 19px);
  }
}
.sp-only {
  display: block;
}

@media (min-width: 968px) {
  .sp-only {
    display: none;
  }
}
