@charset "UTF-8";
header.header {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.header .site {
  width: 32vw;
  margin-left: 2vw;
}
header.header .icons {
  display: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header.header .icons li {
  font-family: "social";
}

@media (min-width: 968px) {
  header.header {
    width: clamp(320px, 41.6vw, 800px);
    height: clamp(32px, 2.6vw, 50px);
    padding: 0;
    padding-left: clamp(20px, 2.08vw, 40px);
    padding-right: clamp(20px, 2.08vw, 40px);
    right: 0;
  }
  header.header .site {
    width: clamp(72px, 6.92vw, 133px);
    margin-left: 0;
  }
  header.header .icons, header.header .nav {
    display: block;
  }
  header.header .icons ul, header.header .nav ul {
    display: flex;
    justify-content: space-between;
  }
  header.header .icons {
    padding-right: clamp(0.31vw, 0.31vw, 6px);
  }
  header.header .icons a {
    font-size: clamp(14px, 1vw, 20px);
  }
  header.header .icons li {
    padding-left: clamp(0px, 0.5vw, 10px);
  }
  header.header .nav {
    margin-left: auto;
    margin-right: 1em;
    font-family: "Oswald", sans-serif;
  }
  header.header .nav li {
    padding-left: clamp(2px, 0.2vw, 4px);
    display: flex;
    align-items: center;
  }
  header.header .nav li a {
    font-weight: 500;
    font-size: clamp(10px, 0.93vw, 18px);
  }
  header.header .nav li::before {
    content: "ï¼";
    padding-right: clamp(2px, 0.2vw, 4px);
    font-size: clamp(10px, 1vw, 20px);
    font-weight: 200;
  }
  header.header .nav li:first-child::before {
    content: "";
  }
  header.header .nav ul.second {
    display: none;
  }
  header.header .nav .links span {
    display: none;
  }
  header.header button {
    display: none;
  }
}
@media (max-width: 967px) {
  .open .nav {
    transform: translate(-100%, 0);
  }
  .open body {
    position: fixed;
    overflow: hidden;
  }
  .navbtn {
    padding-top: 6.8vw;
  }
  .nav {
    position: fixed;
    left: 0;
    top: 12vw;
    inset: 12vw -100% 0 100%;
    transition: transform 0.3s;
    background-color: var(--color-blue);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10vw;
  }
  .nav ul.top > li::before {
    content: "-";
    font-size: 1em;
    font-weight: 300;
    margin-right: 0.2em;
  }
  .nav ul.top > li {
    font-size: 7vw;
    margin-bottom: 0.6em;
  }
  .nav ul.top > li a {
    color: black;
  }
  .nav .links .desc {
    font-size: 0.5em;
    padding-left: 0.6em;
  }
  .nav ul.second {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.3em;
  }
  .nav ul.second li {
    width: 24vw;
    margin-bottom: 3vw;
  }
  .nav ul.second li .all {
    width: 83%;
  }
  .nav ul.second li .activity {
    margin-left: 1vw;
  }
  .nav ul.second li .life {
    width: 55%;
    margin-left: 8vw;
  }
  .nav ul.second li .culture {
    width: 90%;
  }
  .nav ul.second li .event {
    width: 86%;
    margin-left: 1vw;
  }
  .nav ul.second li .sns {
    margin-left: 2.2vw;
  }
}
