.second-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--color-second-bg);
  z-index: 1;

  .category-list {
    display: flex;
    padding: 3vw 3vw 4vw;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

    li {
      cursor: pointer;
      // opacity: .7;
      transform: scale(.9);
      // filter:grayscale(.6);
      // filter: drop-shadow(0px 0px 1px black);
      // filter:drop-shadow(1px 1px 0 #000);


      img
      {
        padding-top: 2px;
        
        padding-bottom: 2px;
        user-select: none;
      }
    }


    li:hover {
      transform: scale(1.2);
      opacity: 1;
    }

    .selected {
      transform: scale(1.2);
      opacity: 1;
      cursor: default;
      // filter:drop-shadow(0 0 0 #000);
      
    }


  }
}



@media (min-width:968px) {
  .pane {
    min-height: 100vh;
    position: relative;
    padding-bottom: 330px;
    box-sizing: border-box;


    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }


  .second-header {
    width: 100%;
    border-bottom: 5px solid black;


    .category-list {
      // padding: 0 268px 16px;
      // padding-right: 200px;
      padding-bottom: clamp(1px, .8vw, 16px);
      padding-top: 0;
      width: clamp(1px, 70.25vw, 1464px);
      // gap:6%;

      .all {
        padding-top: 12px;
        width: 126px;
      }

      .activity {
        padding-top: 12px;
        width: 148px;
      }

      .life {
        padding-top: 10px;
        width: 86px;
      }

      .culture {
        width: 138px;
      }

      .event {
        width: 126px;
      }

      .sns {
        width: 200px;
      }
    }
  }

}