.section-close {
  .fp-tableCell {
    vertical-align: bottom;
  }
}

.section-close {
  footer.footer {
    margin-top: 12vw;
  }
}

.article-close {
  padding-bottom: 0 !important;

  .title,
  .lead {
    margin-bottom: 1em;
  }

  .desc {
    margin-bottom: 1em;
  }

  .img-set {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .img-1 {
      width: 90%;
    }

    .img-2 {
      width: 50%;
      justify-self: end;
      margin-top: -8vw;
    }
  }
}

@media (min-width:968px) {
  .section-close {
    padding-top: 0;

    footer.footer {
      margin-top: 6vw;
    }
  }

  .article-close {
    padding-top: 8vw !important;

    .grid-2col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      .contents {
        width: 40vw;
      }

      .img-set {
        width: 38vw;
        // justify-self: end;
      }
    }

    .grid-2-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;

      .title-set {
        grid-column: 1;
        grid-row: 1;
        width: 40vw;
      }

      .border-box {
        grid-column: 1;
        grid-row: -1;
        // width: 40vw;
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .g-map {
        grid-column: 2;
        grid-row: 1 / span 3;
        // margin-left: 2vw;
        justify-self: start;
        align-self: end;
        width: 60%;
      }
    }
  }
}