@use "../../common/css/global";
@use "../../common/css/cover";
@use "../../common/css/a-voice";
@use "../../common/css/a-intro";
@use "../../common/css/a-video";
@use "../../common/css/a-midashi";
@use "../../common/css/a-infomation";
@use "../../common/css/a-close";
@use "../../common/css/a-01";
@use "../../common/css/a-profile";


.article-intro {
  .img-set {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .img-1 {
      grid-column: 1;
      grid-row: 1;
      width: 80%;
      justify-self: end;
    }

    .img-2 {
      grid-column: 1;
      grid-row: 2;
      width: 60%;
      margin-top: -5vw;
      margin-left: 6vw;
    }
  }
}

@media (min-width:968px) {
  .article-intro {
    .img-set {
      .img-1 {
        width: 105%;
      }

      .img-2 {
        margin-left: -7vw;
      }
    }
  }
}


.article-voice {

  .img-1 {
    background-image: url(../images/3.jpg);
    background-position: 40% center;
  }

}

@media (min-width:968px) {
  .article-voice {
    .img-1 {
      background-position: center center;
    }
  }
}

.article-close {
  .img-set {
    .img-1 {
      width: 100%;
    }
  }
}


@media (min-width:968px) {
  .article-close {
    .grid-2-2 {
      display: block;
    }

    .grid-2col {
      .img-set {
        width: auto;
      }

      .contents {
        width: 44vw;
      }
    }

  }
}