.pane {
  background-color: var(--color-lightblue);
}

.main {
  // padding-top: 20vw;
  padding-left: 5vw;
  padding-right: 5vw;

  .title-wrapper {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 7.4vw;
    font-weight: 500;
    text-align: center;
    margin-bottom: .6em;
  }

  .desc {
    font-size: 3.9vw;
    font-weight: 500;
    line-height: 1.6;
    padding-bottom: 1em;
  }

  .img {
    padding-bottom: 5vw;
  }

  .img:last-child {
    padding-bottom: 20vw;
  }
}

@media (min-width:968px) {


.pane {
    min-height: 100vh;
    position: relative;
    padding-bottom: 330px;
    box-sizing: border-box;


    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }



  .main {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-row-gap: 2vw;
    grid-column-gap: 2vw;

    // padding-top: 90px;
    padding-left: clamp(1px, 8.3vw, 160px);
    padding-right: clamp(1px, 3.7vw, 72px);

    // background-color: #999;


    .text {
      grid-column: 1 / span 10;
      grid-row: 2 / span 3;
      // background-color: orange;
    }

    .img {
      padding: 0;
    }

    .img:last-child {
      padding: 0;
    }

    .img-map {
      grid-column: 1 / span 12;
      grid-row: span 4 / -1;
      // background-color: green;
      // margin-left: clamp(1px, 8.3vw, 160px);
      // margin-top: 120px;
      padding-left: 6%;
      padding-bottom: 8%;
      padding-top: 14%;
      padding-right: 12%;

      img {
        // width: 90%;
      }
    }

    .img-03 {
      grid-column: span 6 / -1;
      grid-row: 1 /span 4;
      // vertical-align: bottom;
      // background-color: red;
      align-self: end;
    }

    .img-01 {
      grid-column: 11 / span 6;
      grid-row: 2 / span 3;
      // background-color: yellow;
      align-self: end;
    }

    .img-02 {
      grid-column: span 9 / -2;
      grid-row: span 3 / -1;
      // padding-bottom: 4%;
      // background-color: blue;
      // align-self: stretch;
      // justify-self: center;
      // display: flex;
      // justify-content: center;
      // img
      // {
      // 	width: 80%;
      // }
    }


    .title-wrapper {
      justify-content: flex-start;
      padding-left: 1vw;
      // padding-left: clamp(1px, 8.3vw, 160px);
    }

    h2 {
      font-size: clamp(1px, 2.6vw, 50px);
      text-align: left;
      // margin-left: clamp(1px, 8.3vw, 160px);
      letter-spacing: -.01em;
      margin-bottom: 1vw;
    }

    .desc {
      font-size: clamp(1px, .93vw, 18px);
      // width: clamp(1px, 36.1vw, 694px);
      // margin-left: clamp(1px, 8.3vw, 160px);
    }
  }
}