@use "../../common/css/global";
@use "../../common/css/cover";
@use "../../common/css/a-voice";
@use "../../common/css/a-intro";
@use "../../common/css/a-video";
@use "../../common/css/a-midashi";
@use "../../common/css/a-infomation";
@use "../../common/css/a-close";
@use "../../common/css/a-01";

@media (min-width:968px) {
  .article-intro {
    grid-column-gap: 0;

    .container {
      width: 40vw;
    }

    .img-1 {
      width: 40vw;
      margin: 0;
    }
  }
}