body {
  background-color: #fff;
}

#fp-nav {
  display: none;
}

#fullpage .section {
  position: relative;
  overflow: hidden;
}
#fullpage .section .transform-bg {
  position: absolute;
  width: 100vw;
  height: 300vh;
  top: 0;
  left: 0%;
  transform: skew(-20deg);
  transform-origin: center;
  background-color: #EDFAFF;
  z-index: -1;
}
#fullpage .section .transform-bg-left {
  transform: skew(20deg);
  transform-origin: top left;
}
#fullpage .section .transform-bg-yellow {
  background-color: #FFFDE5;
}
#fullpage .section .transform-bg-yellow-deep {
  background-color: #FFF143;
  opacity: 0.5;
}
#fullpage .section .anime-wrapper {
  margin-left: -6vw;
  padding-left: 6vw;
}
#fullpage .section .article-inner, #fullpage .section .cover-inner {
  width: 100%;
  height: 100%;
}
#fullpage .section .article-inner .contents, #fullpage .section .cover-inner .contents {
  padding: 0 6vw;
}
#fullpage .section .article-02-sub {
  height: auto;
}
#fullpage .section .article-02-sub .bg01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/contents-point-big.jpg);
  background-repeat: no-repeat;
  background-position: 34% center;
  background-size: cover;
  z-index: -1;
}
#fullpage .section .article-02-sub p {
  margin-top: 90%;
}
#fullpage .section .article-02-sub p > span {
  font-size: 4.8vw;
  font-weight: bold;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-color: white;
  padding: 0.3em;
  line-height: 2;
  padding-left: 0.4em;
  padding-right: 0.8em;
  white-space: nowrap;
}
#fullpage .section .cover-inner {
  padding-top: 60vh;
  background-image: url(../images/main-sp.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 12vw;
}
#fullpage .section .cover-inner .contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 0;
}
#fullpage .section .cover-inner .category {
  width: 34vw;
  margin-bottom: 4vw;
}
#fullpage .section .cover-inner .vol {
  width: 25.8vw;
  margin-bottom: 2vw;
}
#fullpage .section .cover-inner .title {
  font-size: 5.4vw;
  text-align: right;
  font-weight: bold;
}
#fullpage .section .cover-inner .lead {
  font-size: 7.7vw;
  text-align: right;
  font-weight: bold;
}
#fullpage .section .article-inner {
  padding-top: 0.8vw;
  padding-bottom: 10vw;
  margin-top: 12vw;
}
#fullpage .section .article-inner .title {
  font-size: 6.6vw;
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: bold;
}
#fullpage .section .article-inner .title-rect {
  background-color: var(--color-blue);
  display: inline-block;
  padding: 0 0.3em;
}
#fullpage .section .article-inner .block-blue::before {
  background-color: var(--color-darkblue) !important;
}
#fullpage .section .article-inner .title-blue {
  color: var(--color-darkblue) !important;
  border-bottom-color: var(--color-darkblue) !important;
}
#fullpage .section .article-inner .title-rect-naname {
  display: inline-block;
  padding: 0 1em;
  margin-left: -2000px;
  padding-left: 2000px;
  position: relative;
}
#fullpage .section .article-inner .title-rect-naname::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-cat-yellow);
  transform: skew(-30deg);
  z-index: -1;
}
#fullpage .section .article-inner .desc {
  font-size: 4.8vw;
  line-height: 1.66;
  margin-bottom: 1.6em;
}
#fullpage .section .article-inner .lead {
  font-size: 5.6vw;
  margin-bottom: 1em;
  font-weight: bold;
}
#fullpage .section .article-inner .caption {
  font-weight: bold;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
#fullpage .section .article-inner .img-single {
  margin-bottom: 1vw;
}
#fullpage .section .article-inner .img-set {
  margin-top: 6vw;
  margin-bottom: 6vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 6vw;
}
#fullpage .section .article-inner .img-set .img01 {
  grid-row: 1;
  grid-column: 1/-1;
}
#fullpage .section .article-inner .img-set .img02 {
  width: 120%;
}
#fullpage .section .article-inner .img-set .img03 {
  width: 120%;
  margin-top: 40%;
  margin-left: -20%;
}
#fullpage .section .info .title {
  color: var(--color-cat-yellow);
  border-bottom: 1px solid var(--color-cat-yellow);
  margin-bottom: 1vw;
}
#fullpage .section .info .lead {
  font-size: 5vw;
  font-weight: bold;
}
#fullpage .section .info .service-list, #fullpage .section .info .link {
  font-size: 3.6vw;
}
#fullpage .section .info .service-list {
  margin-bottom: 1em;
}
#fullpage .section .info .border-box {
  margin-top: 1em;
  border: 1px solid #333;
  padding: 0.8em;
  font-weight: bold;
  font-size: 3.6vw;
  margin-bottom: 6vw;
}
#fullpage .section .article-06, #fullpage .section .article-07 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 7);
}
#fullpage .section .article-06 .img00, #fullpage .section .article-07 .img00 {
  grid-row: 2;
}
#fullpage .section .article-06 .img01, #fullpage .section .article-07 .img01 {
  width: 60%;
  padding-left: 6vw;
}
#fullpage .section .article-06 .img02, #fullpage .section .article-07 .img02 {
  margin-top: -8vw;
  width: 60%;
  padding-right: 6vw;
  justify-self: end;
}
#fullpage .section .article-06 .img03, #fullpage .section .article-07 .img03 {
  padding: 4vw 6vw;
}
#fullpage .section .button-more {
  display: block;
  margin: 0 auto;
  width: 60%;
  color: white;
  padding: 2vw 6vw;
  text-align: center;
  position: relative;
}
#fullpage .section .button-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: skew(-30deg);
  z-index: -1;
}

@media (min-width: 968px) {
  #fp-nav {
    display: block;
  }
  #fullpage .section {
    position: relative;
  }
  #fullpage .section .transform-bg {
    left: 30%;
  }
  #fullpage .section .transform-bg-opposite {
    left: -70vw;
  }
  #fullpage .section .cover-inner, #fullpage .section .article-inner {
    padding-top: 0;
    margin-top: 0;
  }
  #fullpage .section .cover-inner {
    background-image: url(../images/main-pc.jpg);
    background-size: cover;
    background-position: center center;
  }
  #fullpage .section .cover-inner .contents {
    height: 60%;
    justify-content: flex-end;
  }
  #fullpage .section .cover-inner .contents .title-set {
    display: flex;
    align-items: center;
  }
  #fullpage .section .cover-inner .contents .vol {
    font-size: 2vw;
    width: 10.5vw;
    margin: 0;
    margin-right: 1.4vw;
  }
  #fullpage .section .cover-inner .contents .category {
    width: 20.5vw;
    margin-bottom: 1vw;
  }
  #fullpage .section .cover-inner .contents .title {
    font-size: 3.1vw;
  }
  #fullpage .section .cover-inner .contents .lead {
    font-size: 4.4vw;
  }
  #fullpage .section .anime-wrapper {
    margin-left: -7.6vw;
    padding-left: 7.6vw;
  }
  #fullpage .section .article-inner {
    padding: 0;
    padding-right: 7.6vw;
    padding-left: 7.6vw;
    padding-top: calc(100vh - 330px)/2;
    padding-bottom: calc(100vh - 330px)/2;
    height: auto !important;
  }
  #fullpage .section .article-inner .grid-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  #fullpage .section .article-inner .title {
    font-size: clamp(1px, 2.6vw, 50px);
  }
  #fullpage .section .article-inner .title-rect-naname {
    margin-bottom: 0.5em;
    margin-top: 0.6em;
  }
  #fullpage .section .article-inner .desc {
    font-size: clamp(1px, 1.1vw, 22px);
  }
  #fullpage .section .article-inner .lead {
    font-size: clamp(1px, 1.8vw, 35px);
  }
  #fullpage .section .article-inner .contents {
    padding: 0;
  }
  #fullpage .section .article-inner .info {
    margin-top: 16vw;
    margin-bottom: 2vw;
  }
  #fullpage .section .article-inner .info .title {
    font-size: clamp(1px, 1.8vw, 35px);
  }
  #fullpage .section .article-inner .info .lead {
    font-size: clamp(1px, 0.9vw, 17px);
    font-weight: bold;
  }
  #fullpage .section .article-inner .info .service-list, #fullpage .section .article-inner .info .link, #fullpage .section .article-inner .info .border-box {
    font-size: clamp(1px, 0.8vw, 17px);
  }
  #fullpage .section .article-01 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  #fullpage .section .article-01 .key-visual {
    grid-column: -1;
    grid-row: 1;
    padding-left: 6vw;
    width: 49.4vw;
  }
  #fullpage .section .article-01 .contents {
    grid-column: 1;
    grid-row: 1;
    width: 32.5vw;
  }
  #fullpage .section .article-02 {
    position: relative;
  }
  #fullpage .section .article-02 .contents-text {
    width: 35.9vw;
    margin-left: auto;
  }
  #fullpage .section .article-02 .img-set {
    position: absolute;
    left: 0;
    top: -8vw;
    margin: 0;
    padding: 0;
  }
  #fullpage .section .article-02 .img-set .img01 {
    position: absolute;
    top: 0;
    left: 7.6vw;
    width: 28.6vw;
    z-index: 1;
    margin-right: -7.6vw;
  }
  #fullpage .section .article-02 .img-set .img02 {
    position: absolute;
    top: 21.5vw;
    left: 7.6vw;
    width: 20.8vw;
  }
  #fullpage .section .article-02 .img-set .img03 {
    position: absolute;
    top: 9vw;
    left: 30vw;
    width: 24.1vw;
    margin: 0;
  }
  #fullpage .section .article-02-sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    padding-top: 5.36vw;
    padding-bottom: 5.36vw;
    background-color: transparent;
  }
  #fullpage .section .article-02-sub .bg01 {
    position: absolute;
    top: calc((100vh - 45.5vw) / 2);
    left: 0;
    width: 73.8vw;
    height: 45.5vw;
    background-image: url(../images/contents-point-big.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }
  #fullpage .section .article-02-sub img {
    grid-column: 1;
    width: 73.8vw;
    margin-right: -20px;
  }
  #fullpage .section .article-02-sub p {
    grid-column: -1;
    margin-top: 50%;
  }
  #fullpage .section .article-02-sub p > span {
    font-size: clamp(1px, 1.8vw, 35px);
  }
  #fullpage .section .article-03 .key-visual {
    grid-column: -1;
    grid-row: 1;
    width: 46.6vw;
  }
  #fullpage .section .article-03 .text {
    grid-column: 1;
    grid-row: 1;
    width: 35.9vw;
  }
  #fullpage .section .article-04 .grid-2col {
    grid-column-gap: 5.6vw;
  }
  #fullpage .section .article-04 .key-visual {
    width: 46.6vw;
    margin-top: -3vw;
  }
  #fullpage .section .article-04 .text {
    width: 32.9vw;
    margin-bottom: -3vw;
  }
  #fullpage .section .article-05 {
    padding-top: 8vw;
    padding-right: 0;
  }
  #fullpage .section .article-05 .key-visual {
    grid-column: -1;
    grid-row: 1;
    margin-top: -5.2vw;
    width: 55vw;
  }
  #fullpage .section .article-05 .text {
    grid-column: 1;
    grid-row: 1;
    width: 32.9vw;
  }
  #fullpage .section .article-05 .img-set .img01 {
    grid-row: 1;
    grid-column: 1;
  }
  #fullpage .section .article-05 .img-set .img02 {
    grid-row: 1;
    grid-column: 2;
  }
  #fullpage .section .article-05 .img-set .img03 {
    grid-row: 2;
    grid-column: 1/-1;
  }
  #fullpage .section .article-05 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: -6vw;
    margin-bottom: 3vw;
  }
  #fullpage .section .article-05 .grid .title-set {
    grid-column: 1;
    grid-row: 1;
    width: 34.2vw;
    margin-top: 9vw;
    align-self: end;
  }
  #fullpage .section .article-05 .grid .img-set {
    grid-column: -1;
    grid-row: 1/-1;
    margin: 0;
    grid-row-gap: 0;
  }
  #fullpage .section .article-05 .grid .img-set .img00 {
    display: block;
  }
  #fullpage .section .article-05 .grid .img-set .img01 {
    width: 110%;
    margin-left: 0vw;
  }
  #fullpage .section .article-05 .grid .img-set .img02 {
    margin-top: 9vw;
    margin-left: -3vw;
    width: 80%;
  }
  #fullpage .section .article-05 .grid .img-set .img03 {
    grid-column: 1;
    width: 74%;
    margin-left: 9vw;
    margin-top: 0vw;
  }
  #fullpage .section .article-05 .grid .text-set {
    grid-column: 1;
    grid-row: 2;
    width: 34.2vw;
  }
  #fullpage .section .article-05 .more-container {
    margin-right: 7.6vw;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  #fullpage .section .article-05 .button-more {
    width: clamp(1px, 37vw, 470px);
    height: auto;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: clamp(1px, 18.3vw, 36px);
  }
  #fullpage .section .article-06, #fullpage .section .article-07 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, 3);
    grid-column-gap: 3vw;
  }
  #fullpage .section .article-06 .intro, #fullpage .section .article-07 .intro {
    grid-column: 1;
    grid-row: 1;
  }
  #fullpage .section .article-06 .info, #fullpage .section .article-07 .info {
    margin: 0;
  }
  #fullpage .section .article-06 .info .title, #fullpage .section .article-07 .info .title {
    margin-top: 0;
  }
  #fullpage .section .article-06 .title-set, #fullpage .section .article-07 .title-set {
    grid-column: 1;
    grid-row: 2;
  }
  #fullpage .section .article-06 .text-set, #fullpage .section .article-07 .text-set {
    grid-column: 1;
    grid-row: 3;
    width: 36vw;
  }
  #fullpage .section .article-06 .img00, #fullpage .section .article-07 .img00 {
    padding: 0;
    margin: 0;
    width: 36.5vw;
    grid-column: 2/-1;
    grid-row: 1;
    margin-top: 3vw;
    justify-self: end;
  }
  #fullpage .section .article-06 .img01, #fullpage .section .article-07 .img01 {
    padding: 0;
    margin: 0;
    width: 20vw;
    grid-column: 2;
    grid-row: 2;
    margin-top: -18vw;
  }
  #fullpage .section .article-06 .img02, #fullpage .section .article-07 .img02 {
    padding: 0;
    margin: 0;
    width: 20vw;
    grid-column: 3;
    grid-row: 3;
    margin-top: -13vw;
  }
  #fullpage .section .article-06 .img03, #fullpage .section .article-07 .img03 {
    padding: 0;
    margin: 0;
    width: 24vw;
    grid-column: 2;
    grid-row: 3;
    margin-top: -9vw;
  }
  #fullpage .section .article-07 .img01 {
    margin-top: -14vw;
  }
  #fullpage .section .article-07 .img02 {
    margin-top: -11vw;
  }
  #fullpage .section .article-07 .img03 {
    margin-top: -5vw;
  }
  #fullpage .section .article-person {
    padding-top: calc((100vh - 31vw) / 2);
    padding-left: 14vw;
    padding-right: 14vw;
  }
  #fullpage .section .article-person .contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  #fullpage .section .article-person .contents .title {
    grid-column: 2;
    grid-row: 1;
    width: 36vw;
    justify-self: end;
    text-align: right;
    margin-top: -3.5vw;
  }
  #fullpage .section .article-person .contents .caption {
    grid-column: 2;
    grid-row: 2;
    padding: 0;
    font-size: clamp(1px, 1.8vw, 35px);
  }
  #fullpage .section .article-person .contents .desc {
    grid-column: 2;
    grid-row: 3;
    width: 36vw;
    justify-self: end;
  }
  #fullpage .section .article-person .contents figure {
    grid-column: 1;
    grid-row: 1/-1;
    width: 31vw;
  }
  #fullpage .section .article-person .video {
    margin-top: calc((100vh - 31vw) / 2);
    margin-bottom: calc((100vh - 31vw) / 2);
  }
  #fullpage .section-close .fp-tableCell {
    vertical-align: bottom;
  }
  #fullpage .section-close footer.footer {
    width: 100%;
  }
  #fullpage .article-close {
    margin-bottom: 10vh;
  }
  #fullpage .article-close .contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 3.4vw;
  }
  #fullpage .article-close .lead {
    grid-column: 1;
  }
  #fullpage .article-close .desc {
    padding-bottom: 100px;
  }
  #fullpage .article-close figure {
    grid-column: 2;
    grid-row: 1/-1;
    width: 50vw;
  }
}
